.container-fluid-content {
    padding: 2em;
    display: flex;
    background-image: url("../../img/banner.jpg"); 
    background-position: center;
    background-size: contain;
    ul {
        padding: 1em;
        background-color: coral;
        margin: 3em;
        flex-wrap: wrap;
        list-style: none;
        li {
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}